<%- include('partials/layout', { title }) %>

<body>
  <div id="root">
    <%- include('partials/navbar') %>

    <main>
      <ul class="tabs">
        <% for (const { id, name, img_url } of categories) { %>
        <li id="<%= id %>" class="tab">
          <%- include('partials/icon-link', {
            href: `/${name}/`,
            img_url,
            name
          }) %>
        </li>
        <% } %>
      </ul>

      <h2><%= title %></h2>

      <div class="grid">
        <% for (const { id, name, img_url } of items) { %>
        <div id="<%= id %>" class="cell">
          <%- include('partials/icon-link', {
            href: `${name}`,
            img_url,
            name
          }) %>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('partials/footer') %>
  </div>
</body>

</html>
