<%- include('partials/layout', { title }) %>

<body>
  <div id="root">
    <%- include('partials/navbar') %>

    <main>
      <img src="<%= item.img_url %> " alt="" width="128" height="128">
      <h2><%= title %></h2>
      <p><%= item.description %></p>
    </main>

    <%- include('partials/footer') %>
  </div>
</body>

</html>
